@use "./variables.scss" as *;

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 5vw;
  border-bottom: 1px solid red;
  background-color: $primary-color;
  z-index: 2;
  padding: 10px 0;
}
